*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  margin-top: 60px;
  background-color: #F8FAFC;
}
nav, nav>ul, nav>div{
  display: flex;
  align-items: center;
  margin: 0;
}
nav{
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  justify-content: space-between;
}
nav > ul > li{
  list-style: none;
  margin: 0px 15px;
  font-weight: 500;
}
nav > ul > li:first-child{
  margin-right: 20px;
}
nav > ul > li > a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
nav .home{
  font-size: 20px;
  font-weight: 700;
}
nav a .icon{
  color: #137FEC;
  margin-right: 5px;
}
nav a:hover{
  color: #137FEC;
}
nav > div > a {
  text-decoration: none;
  margin: 0px 10px;
}
nav > div > form > .nav-search{
  width: max-content;
  display: flex;
  align-items: center;
  background-color: #F3F4F6;
  padding: 8px;
  border-radius: 5px;
}
nav > div > form > .nav-search > .search-input{
  outline: none;
  border: none;
  background: transparent;
  margin-left: 10px;
  font-size: 15px;
}
nav > div > form > .nav-search > .search-input::placeholder, 
nav > div > form > .nav-search >.icon{
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
nav > div > a.get-started{
  background-color: #137FEC;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
}
nav > div > a.get-started:hover{
  opacity: 0.9;
}
nav > div > a.log-in{
  background-color: #F3F4F6;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
}
nav > div > a.log-in:hover{
  opacity: 0.6;
}
nav > div > .menu{
  display: none;
  color: #137FEC;
  font-size: 25px;
}

/* side nav */
.side-nav{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.side-nav .get-started{
  background-color: #137FEC;
  text-decoration: none;
  color: #fff;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
}
.side-nav .get-started:hover{
  opacity: 0.9;
}
.side-nav .log-in{
  background-color: #F3F4F6;
  text-decoration: none;
  color: #000;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 10px;
}
.side-nav .log-in:hover{
  opacity: 0.6;
}
.side-nav .cancel{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
}
.side-nav .cancel:hover{
  color: #137FEC;
}
@media screen and (max-width: 992px){
  .hide-on-mobile{
    display: none;
  }
  nav > div > .menu{
    display: flex;
    margin-right: 20px;
  }
}
